body {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
}

.container {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  background-color: coral;
  padding: 0 50px;
}

li.nav-item {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

li.search {
  display: flex;
  padding: 10px 20px;
  justify-content: flex-end;
  align-items: center;
}

li.search input {
  border: solid 1px black;
  border-radius: 3px;
  padding: 5px;
}

li a {
  text-decoration: none;
  color: black;
}

section {
  flex: 1;
}

@media all and (max-width: 700px) {
  .container {
    flex-wrap: wrap
  }

  .container > li {
    display: flex;
    flex: 1;
    flex-basis: 25%;
    justify-content: center;
  }

  li.search input{
    text-align: center;
    
  }

  @media all and (max-width: 400px) {
    .container {
      flex-wrap: wrap;
      padding: 0;
    }
  
    .container > li {
      display: flex;
      flex: 1;
      flex-basis: 50%;
      justify-content: center;
    }
  
    li.search input{
      text-align: center;
      
    }
}